<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/css/user.css">
<!-- 	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <title>i Nostri Corsi</title>
</head>
<body>
	 <!-- BARRA DI NAVIGAZIONE -->
    <section id="corsi">
    	<nav id="navbar">
        <div>
          <a class="button" href = "/">HOME</a>
        </div>
        <div>
          <a class="button" th:href="@{/user/trainers}">TRAINER</a>
        </div>
        <div>
          <a class="button active" th:href="@{/user/corsi}">CORSI</a>
        </div>
        <div>
          <a class="button-outlined" th:href="@{/login}">ADMIN</a>
        </div>
    	</nav>
      <div align="center" class="titolo">
        <h1>I NOSTRI CORSI:</h1>
      </div>
      <br>
      <!-- SCELTA GIORNO DELLA SETTIMANA -->
      <div class="scelta-settimana">
        <strong>
          <a href="/user/corsi">X</a>
          <a th:href="@{/user/corsi/lun}">Lunedi</a>
          <a th:href="@{/user/corsi/mar}">Martedi</a>
          <a th:href="@{/user/corsi/merc}">Mercoledi</a>
          <a th:href="@{/user/corsi/giov}">Giovedi</a>
          <a th:href="@{/user/corsi/ven}">Venerdi</a>
          <a th:href="@{/user/corsi/sab}">Sabato</a>
          <a th:href="@{/user/corsi/dom}">Domenica</a>
        </strong>
      </div>
      <br>
    </section>
    <!-- SEZIONE CON I CORSI PRESENTI NEL SISTEMA -->
    <div class="main-info column" style="background-image: -webkit-linear-gradient(top, #C70A80 20%, #590696 80%);">
      <div class="main-info-container" th:each="corso : ${corsi}">
        <div class="corso">
          <h2 th:text="${corso.nome}">Nome Corso</h2>
          <h3>Trainer:</h3><label th:text="${corso.trainer.nome} + ' ' + ${corso.trainer.cognome}">NomeTrainer CognomeTrainer</label>
          <h3>Descrizione:</h3><label th:text="${corso.descrizione}">descrizione del corso</label>
          <h3 th:text="${corso.giorno} + ' dalle ' + ${corso.oraInizio} + ' alle ' + ${corso.oraFine}">Venerdi dalle 13.00 alle 14.00</h3>
          <h3>Posti Disponibili: </h3><i th:text="${corso.numeroPosti}">90</i>
          <br>
        </div>
      </div>
      </div>
    <span></span>
		<!-- SEZIONE CON FOOTER -->
    <footer id="footer">
      <div class="footer-item">
        <strong class="intestazione_contatti">SEGUICI</strong>
          <div>▬▬▬▬▬▬▬▬▬▬▬▬</div>
            <p>Seguici sui social per rimanere sempre aggiornato.</p>
            <a style="color: #590696" href="https://www.facebook.com/">facebook</a>
            <a style="color: #590696" href="https://www.instagram.com/">instagram</a>
            <a style="color: #590696" href="https://www.youtube.com/">youtube</a>
            <br>
            <br>
            <br>
          </div>
      <div class="footer-item">
        <strong class="intestazione_contatti">CONTATTACI</strong>
            <div>▬▬▬▬▬▬▬▬▬▬▬▬</div>
            <p>Contattaci per avere info:</p>
            <p>Tel: 546942, 546590, 546913</p>
            <p>Email: info@palestraMDPL.it</p>
            <br>
            <br>
            <br>
            <br>
      </div>
      <div class="footer-item">
        <strong class="intestazione_contatti">DOVE SIAMO</strong>
            <div>▬▬▬▬▬▬▬▬▬▬▬▬</div>
            <p>Puoi venirci a trovare nella nostra palestra:</p>
            <iframe class="mappa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11893.340104014178!2d12.47245425!3d41.821083449999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13258b197a240f97%3A0x30f442fc92748581!2sPalazzo%20dello%20Sport%20-%20Roma!5e0!3m2!1sit!2sit!4v1655486885135!5m2!1sit!2sit" width="600" height="450" style="border:0; border-radius:10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </footer>
</body>
</html>