<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Trainers</title>
</head>
<body>
	
	
  
		<nav>
			<h1>Palestra MDPL</h1>
			<div >
				<ul>
					<li><strong><a href="/"> HOME </a></strong></li>
					<li><strong><a th:href="@{/login}">ADMIN </a></strong></li>
					
				</ul>
				
			</div>
		</nav>
		
		<h4>Elenco Trainer</h4>
  		<ul>
			<li th:each="trainer : ${trainers}">
			<a	th:href="@{'/user/trainer' + '/' + ${trainer.id}}"
				th:text="${trainer.nome} + ' ' + ${trainer.cognome}">Paolo Rossi</a> 	
			</li>
		</ul>
  	
</body>
</html>