<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Trainer</title>
</head>
<body>
	
	
  
		<nav>
			<h1>Palestra MDPL</h1>
			<div >
				<ul>
					<li><strong><a th:href = "@{/logout}"> LOGOUT</a></strong></li>
					<li><strong><a th:href="@{/admin/admin}">ADMIN </a></strong></li>
					<li><strong><a th:href="@{/admin/trainers}">TRAINER </a></strong></li>
					<li><strong><a th:href="@{/admin/corsi}">CORSI </a></strong></li>
					<li><strong><a th:href="@{/admin/sale}">SALE </a></strong></li>
				</ul>
				
			</div>
		</nav>
		
		<h4>Trainer</h4>
			<div>
			<strong>
			<span th:text="${trainer.nome}">Paolo</span> 
			<span th:text="${trainer.cognome} + ', '">Rossi</span> 
			<span th:text="${trainer.eta} + ' anni'">Rossi</span> 
			<span th:text="'( ' + ${trainer.nazionalita} + ' )'">italia</span>
			</strong>
			<div>
				<strong>Elenco Corsi:</strong>
			</div>
			<ul>
				<li th:each="corso : ${trainer.corsi}">
				<strong> <span th:text = "${corso.nome} + ', ' + ${corso.giorno} + ' ' 
				+ ${corso.oraInizio} + '-' + ${corso.oraFine}
				+ ' (' + ${corso.sala.nome} + ')'" > </span> </strong>
				
				<!--	<strong><a
						th:href="@{'/admin/chef' + '/buffet' + '/' + ${buffet.id}}"
						th:text="${buffet.nome}"> Nome buffet</a> </strong> 
				<form th:action="@{'/admin/chef' + '/cancellaBuffet' + '/' + ${buffet.id}}" 
							method="POST"><button> Cancella </button>
				</form>    -->
				
				</li>
			</ul>
			</div>
		
  	
</body>
</html>