/* FOGLIO DI STILE PER I TEMPLATE HTML */

* {
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Charis SIL', serif;
}

header{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(https://www.villaverderesort.com/templates/yootheme/cache/header_palestra-1e321b4f.jpeg);
	height: 410px;
	background-attachment: fixed;
	background-size: cover;
	background-position-y: -120px;
	margin-bottom: -10%;
}

i{
	color: #00FFAB; 
	background-color: #590696; 
	border-radius: 5px; 
	width: 5%;
}

.sfondo-viola{
	background-color: #590696;
}

#corsi{
	background-color: #C70A80;	
	color: #590696;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 350px;
	background-attachment: fixed;
	background-size: cover;
}

#form{
	background-color: #C70A80;	
	color: #590696;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 1200px;
	background-attachment: fixed;
	background-size: cover;
}

#trainers{
	background-color: #FBCB0A;	
	color: #590696;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 250px;
	background-attachment: fixed;
	background-size: cover;
}


#navbar{
	margin: 15px;
	height: 60px;
	width: 50%;
	border-radius: 15px;
	background-color: #590696;
	display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 10px 10px 5px #470478;
}

.titolo-palestra{
	font-size: 4.5em;
	  color: #EE5007;
    margin-top: 6%;
    font-style: italic;
    background: #590696;
    border-radius: 25px;
    padding: 1%;
}

#navbar a:hover{
	border-radius: 3px;
	border: solid 2px;
	border-color: #00FFAB;
	padding: 2%;
	font-size: 130%;
}

#navbar a.active{
	border-radius: 3px;
	border: solid 2px;
	border-color: #00FFAB;
	padding: 2%;
	font-size: 130%;
}

.titolo{
	font-style: italic; 
	font-weight: bold; 
	font-size: 1.3em;
}

.titolo h1{
	font-weight: bold; 
	font-style: italic; 
	margin-top: 6%; 
	font-size: 2.6em;
}

.button{
	text-decoration: none;
	color: #00FFAB;
	font-weight: bold;
}

.button-outlined{
	text-decoration: none;
	color: #590696;
	background-color: #00FFAB;
	border-radius: 3px;
	font-weight: bold;
	padding: 2%;
}

.button-iscriviti{
	color: #00FFAB;
	background-color: #590696;
	text-decoration: none;
	border-radius: 3px;
	font-weight: bold;
	padding: 2%;
}

.gradient-info{
	background-image: -webkit-linear-gradient(top, #00FFAB 0%, #590696 100%); 
	color: #590696;
}

.main-info{
	color: #00FFAB;	
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-info-container{
	color: #00FFAB;	
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
}

.column{
	flex-direction: column;
}

.box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: solid 4px;
	border-color: #590696;
	border-radius: 20px;
	padding: 5%;
	margin-top: 7%;
	width: 130%;
}

.info{
	background-color: #590696;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	width: 35%;
	border-radius: 25px;
	border: solid 5px;
	border-color: #590696;
	padding: 2.5%;
	margin: 3%;
	box-shadow: 10px 10px 5px #3e0369;
}

.scelta_settimana{
	align-items: center;
}

.corso{
	color: #590696;
	background-color: #00FFAB;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	border-radius: 25px;
	border-color: #590696;
	padding: 2.5%;
	margin: 3%;
	width: 50%;
  box-shadow: 10px 10px 5px #3e0369, inset 30px 30px 15px #02e399;
}

.corso h2{
	font-weight: bold;
	font-style: italic;
	font-size: 2.5em;
}

.contatore{
	color: #00FFAB; 
	background-color: #590696; 
	border-radius: 5px; 
	width: 5%;
}

.trainer{
	color: #FBCB0A;
	background-color: #C70A80;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	border-radius: 25px;
	border-color: #590696;
	padding: 2.5%;
	margin: 3%;
	width: 65%;
  box-shadow: 10px 10px 5px #3e0369, inset 20px 20px 10px #a30768;
}

.trainer h1{
	color: #590696;
	font-weight: bold; 
	font-style: italic; 
	margin-top: 5%; 
	font-size: 2.6em;
}

.trainer h3{
	color: #590696;
}

.trainer li{
	font-weight: bold;
	font-style: italic;
}

.come-funziona{
	color: #00FFAB; 
	background-color: #590696;
}

span{
	height: 40px;
}

#id{
	font-style: italic; 
	font-weight: bold;
	font-size: 1.5em;
}

.step{
	color: #590696;
	background-color: #00FFAB;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	width: 15%;
	border-radius: 25px;
	border-color: #590696;
	padding: 2.5%;
	margin: 3%;
  box-shadow: 10px 10px 5px #3e0369, inset 10px 10px 5px #02e399;
}

.step h2{
	font-style: italic;
	font-weight: bold;
}

.info h2{
	font-style: italic; 
	font-weight: bold;
}

.info p{
	 font-size: 1.2em;
}

.footer-item{
	flex-grow: 1;
	display: flex;
  align-items: center;
  flex-direction: column;
}

.intestazione_contatti{
  padding: 25px;
  font-weight: bold;
  font-size: 20px;
}

.intestazione_contatti a{
	color:  #590696;
}

.mappa{
	height: 30%;
	width: 40%;
	border:0; 
	border-radius:10px;
}

#footer{
	background-image: -webkit-linear-gradient(top, #590696 0%, #00FFAB 100%);
	color: #00FFAB;
	height: 400px;
	background-color: #590696;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grad{
	background-image: -webkit-linear-gradient(top, #FBCB0A 0%, #590696 100%);
}

.grad2{
	 background-image: -webkit-linear-gradient(top, #C70A80 20%, #590696 80%);
}

