<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/css/user.css">
<!-- 	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <title>Palestra</title>
</head>
<body>
  <!-- BARRA DI NAVIGAZIONE -->
    <header>
    	<nav id="navbar">
        <div>
          <a class="button active" href = "/">HOME</a>
        </div>
        <div>
          <a class="button" th:href="@{/user/trainers}">TRAINER</a>
        </div>
        <div>
          <a class="button" th:href="@{/user/corsi}">CORSI</a>
        </div>
        <div>
          <a class="button-outlined" th:href="@{/login}">ADMIN</a>
        </div>
    	</nav>
    </header>
    <!-- SEZIONE CON INFO -->
    <div style="background-image: -webkit-linear-gradient(top, #00FFAB 0%, #590696 100%); color: #590696;">
      <!-- TITOLO -->
      <div align="center" class="titolo"><h1>CHI SIAMO:</h1></div>
      <br>
      <!-- CONTENITORE DI TESTO -->
      <div class="main-info">
        <section class="info">
          <h2>LA NOSTRA STORIA</h2>
          <p>La MDPL nasce da un'idea di Antonio Della Porta, Roberto Marsella e Fabio Letizia, che nel 2022 decidono di fondare una palestra per venire incontro alle richieste degli sportivi della zona. La MDPL adotta un metodo innovativo l'ha velocemente resa celebre nell'ambito del fitness-training. Nonostante la giovane età, i soci fondatori stanno lavorando duro per riuscire presto a ottenere il più importante dei riconoscimenti: IL PREMIO 30L.</p>
          <br>
          <br>
        </section>
        <section class="info">
          <h2>LE ATTIVITA CHE OFFRIAMO</h2>
          <p>Nella Palestra MDPL vinene offerta una vastissima gamma di attività per venire incontro alle esigenze di tutti gli sportivi. La palestra è fornita delle migliori attrezzature e mette a disposizione un elevato numero di SALE ATTREZZATE nelle quali vengo offerti i migliori corsi tenuti da Trainer di caratura internazionale. Grazie alla grande professionalità dello staff, i corsi offerti dalla MDPL sono rinomati per essere i migliori del panorama internazionale. </p>
          <br>
          <a href="#vedi" class="button-outlined">VEDI COME FUNZIONA</a>
        </section>
        <br>
      </div>
      <br>
      <br>
      <!-- CONTENITORE VIDEO -->
      <div align="center">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/NoA4Z8UCi2s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="border-radius: 25px;"></iframe>
      </div>
      <br>
      <br>
    </div>
    <!-- SEZIONE COME FUNZIONA -->
    <div class="come-funziona">
      <div id="vedi" align="center"><h1>COME FUNZIONA:</h1></div>
      <div align="center">Devi affrettarti!! I posti disponibili sono limitati.</div>
      <br>
      <div class="main-info" style="background-color: #590696">
        <div class="step">
          <h2>#1:VEDI I CORSI</h2>
          <p>Clicca il pulsante "CORSI" per visualizzare i corsi disponibili</p>
        </div>
        <div class="step">
          <h2>#2:SCEGLI IL TUO PREFERITO</h2>
          <p>Trova il corso più adatto a te.</p>
        </div>
        <div class="step">
          <h2>#3:ISCRIVITI</h2>
          <p>Clicca il pulsante "ISCRIVITI" per poter partecipare.</p>
        </div>
      </div>
      <br>
      <br>
    </div>
    <!-- SEZIONE CON FOOTER -->
    <footer id="footer">
      <div class="footer-item">
        <strong class="intestazione_contatti">SEGUICI</strong>
          <div>▬▬▬▬▬▬▬▬▬▬▬▬</div>
            <p>Seguici sui social per rimanere sempre aggiornato.</p>
            <a style="color: #590696" href="https://www.facebook.com/">facebook</a>
            <a style="color: #590696" href="https://www.instagram.com/">instagram</a>
            <a style="color: #590696" href="https://www.youtube.com/">youtube</a>
            <br>
            <br>
            <br>
          </div>
      <div class="footer-item">
        <strong class="intestazione_contatti">CONTATTACI</strong>
            <div>▬▬▬▬▬▬▬▬▬▬▬▬</div>
            <p>Contattaci per avere un preventivo:</p>
            <p>Tel: 546942, 546590, 546913</p>
            <p>Email: info@palestraMDPL.it</p>
            <br>
            <br>
            <br>
            <br>
      </div>
      <div class="footer-item">
        <strong class="intestazione_contatti">DOVE SIAMO</strong>
            <div>▬▬▬▬▬▬▬▬▬▬▬▬</div>
            <p>Puoi venirci a trovare nella nostra palestra:</p>
            <iframe class="mappa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11893.340104014178!2d12.47245425!3d41.821083449999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13258b197a240f97%3A0x30f442fc92748581!2sPalazzo%20dello%20Sport%20-%20Roma!5e0!3m2!1sit!2sit!4v1655486885135!5m2!1sit!2sit" width="600" height="450" style="border:0; border-radius:10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </footer>
</body>
</html>